@import "/assets/css/highlight.css";

.header__logo {
  /* Fix tight logo restriction - we want full view */
  padding: 0 !important;
}

/* Branding */
.header__logo:after {
  content: "IgnusG";
  margin-left: 7px;
}

.header__logo--container {
  /* Fix edge-to-edge logo - we want a bit of spacing */
  height: 85% !important;
}

.header__logo--container > svg {
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
}

section {
  background: #f7f7f7;
}

/* Do not apply these rules for post labels */
section a:not(.label), main a:not(.label) {
  /* Use the classical underline as it improves readability */
  border-bottom: none !important;
  text-decoration: underline !important;
  /* Remove transition of font-size for anchors - it's annoying */
  transition: color !important;
}

main .post-card a {
  /* Remove the above rule for post cards - hinders readability otherwise */
  text-decoration: none !important;
}

.hero {
  user-select: none;
}

.hero--small {
  background-position: 50%;
}

/* More stylized background for images */
.hero:before {
  background: linear-gradient(50deg, rgba(62, 51, 81, 0.67), rgba(218, 164, 65, 0.54)) !important;
}

@media only screen and (min-width: 62em) {
  .hero {
    height: 20em !important;
    margin-top: 3em !important;
  }
}

/* Subtitle push down */
.hero__title {
  padding: 0 !important;
}

.hero__subtitle {
  color: white;
  font-weight: lighter;
}

a.label {
  will-change: background, color;
  transition: background .3s, color .3s;

  backdrop-filter: blur(3px);
}

a.label:hover {
  background: white;
  color: #656565;
}

